.site-logo img {
	margin-bottom: 10px;
	max-width: 150px;
	padding-right: 15px;
}
#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}
#navlist li a {
	text-decoration: none;
	color: #333;
	font-family: Verdana;
	text-transform: uppercase;
	font-size: 0.65rem;
}